<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3 text-center m-auto">
      <span>No images</span>
    </div>

    <div class="col-md-5">
      <div class="card-body">

        <h5 class="card-title"><%= order_item.name %></h5>
        <p class="card-text text-muted">
          <span>Price: <%= format_price(order_item.currency, order_item.price) %></span>
          <span>| Quantity: <%= order_item.quantity %></span>
        </p>
        <p class="card-text">Total: <%= format_price(order_item.currency, order_item.total) %> </p>

      </div>
    </div>

    <div class="col-md-2 text-center m-auto">
      <% if order_item.product_id %>
        <%= link_to "Show Product", product_path(order_item.product_id), method: :get, class: "btn btn-primary mb-2" %>
      <% end %>
    </div>

  </div>
</div>
