<% presenter = LineItemPresenter.new(line_item) %>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3 text-center m-auto">
      <span>No images</span>
    </div>

    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title"><%= presenter.product_name %></h5>

        <p class="card-text">
          Price:
          <% if line_item.product_discount %>
            <del><%= presenter.normal_price %></del>
            <span class="text-danger"><%= presenter.discount_price %></span>
            <span class="text-muted">( <%= presenter.card_type %> )</span>
          <% else %>
            <%= presenter.normal_price %>
          <% end %>
        </p>

        <p class="card-text">
          <small class="text-muted"><%= presenter.total_price %> | Amount: <%= line_item.quantity %></small>
        </p>
      </div>
    </div>

    <div class="col-md-2 text-center m-auto">
      <%= form_with scope: :line_item, url: cart_path(id: line_item), method: :patch do |f| %>
        <span><%= f.number_field :quantity, style: "width: 60px", class: "mb-2", value: line_item.quantity, in: 1..line_item.product.quantity %>
        <%= button_tag(type: 'submit', class: "btn btn-warning mb-2") do %>
          Set amount <i class="bi bi-arrow-repeat"></i></span>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-1 text-center m-auto">
      <%= link_to product_path(line_item.product_id), class: "btn btn-primary mb-2", style: "width: 100px" do %>
        <span>Show <i class="bi bi-search"></i></span>
      <% end %>
      <%= button_to cart_path, params: { id: line_item.id }, method: :delete, class: "btn btn-danger mb-2", style: "width: 100px" do %>
        <span>Delete <i class="bi bi-cart-x"></i></span>
      <% end %>
    </div>

  </div>
</div>
