<% checkout ||= false %>
<% presenter = CartPresenter.new(cart) %>

<div class="card my-3">

  <div class="card-header">Your Cart</div>

  <div class="card-body">
    <% unless cart.line_items.present? %>
      <h3>Your shopping cart is empty!</h3>
    <% else %>

      <div class="d-flex justify-content-between align-items-center">
        <div class="row">
          <dt class="col-sm-2">Total items:</dt>
          <dd class="col-sm-9"><%= cart.total_items %></dd>

          <dt class="col-sm-2">Discount granted:</dt>
          <dd class="col-sm-9 text-danger"><%= presenter.final_discount %></dd>

          <dt class="col-sm-2">Total net:</dt>
          <dd class="col"><%= presenter.final_net %></dd>

          <dt class="col-sm-2">Total tax:</dt>
          <dd class="col"><%= presenter.final_tax %></dd>

          <dt class="col-sm-2">Total value:</dt>
          <dd class="col"><%= presenter.final_price %></dd>

        </div>
        <% if checkout %>
          <%= button_to checkout_path, data: { turbo: false }, class: "btn btn-success" do %>
            <span>Go to checkout <i class="bi bi-cash-coin"></i> </span>
          <% end %>
        <% else %>
          <%= link_to summary_cart_path, class: "btn btn-success" do %>
            <span> Show Summary <i class="bi bi-bag-check"></i> </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>