<div class="container">
  <h1>Your Cart</h1>

  <% unless @line_items.exists? %>
    <h3>Your shopping cart is empty!</h3>
  <% else %>
    <% @line_items.each do |line_item| %>
      <% product = line_item.product %>

      <div class="card mb-3" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-3 text-center m-auto">
            <span>No images</span>
          </div>

          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text">
                <small class="text-muted">
                  <%= format_price(product.currency, get_line_item_price(line_item)) %>
                </small>
                <small class="text-muted">
                  | Amount: <%= line_item.quantity %>
                </small>
              </p>
            </div>
          </div>

          <div class="col-md-1 text-center m-auto">
            <%= link_to "Show", product_path(product.id), class: "btn btn-primary mb-2" %>
            <%= button_to "Delete", cart_path, params: { id: line_item.id }, method: :delete, class: "btn btn-danger mb-2" %>
          </div>

        </div>
      </div>

    <% end %>
  <% end %>
</div>
