<% if current_user %>
  <li class="nav-item">
    <%= link_to cart_path, title: 'Your cart', class: "nav-link" do %>
      <span><i class="bi bi-cart text-light"></i></span>
      <% if current_user.line_items.size > 0 %>
        <span class="badge badge-pill bg-danger"><%= current_user.line_items.size %></span>
      <% end %>
    <% end %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle bi bi-person-circle text-light" title="Your account" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
      <li>
        <%= link_to orders_path, class:"dropdown-item" do %>
          <h5><i class="bi bi-receipt"></i> Orders</h5>
        <% end %>
      </li>
      <li>
        <%= link_to cards_path, class:"dropdown-item" do %>
          <h5><i class="bi bi-credit-card"></i> Cards</h5>
        <% end %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to edit_user_registration_path, class:"dropdown-item" do %>
          <h5><i class="bi bi-gear"></i> Edit account</h5>
        <% end %>
      </li>
      <li>
        <%= button_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
          <h5><i class="bi bi-box-arrow-left"></i> Sign out</h5>
        <% end %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class:'nav-link'%>
  </li>
<% end %>