<%= stylesheet_link_tag "pagination/pagination", "data-turbo-track": "reload" %>

<h1>Products</h1>

<div class="row mb-2">
  <div class="col">
    <%= search_form_for @q, url: products_path do |f| %>
    <%= f.search_field :name_or_description_cont, placeholder: "Search phrase..." %>
    <%= f.submit name: '', class: "btn btn-outline-secondary btn-sm mb-1 text-dark" %>
    <% end %>
  </div>
  <div class="col">
    <span>Sort by:</span>
    <%= sort_link(@q, :name, "Name",{}, { class: "link-dark" }) %>
    <%= sort_link(@q, :default_price, "Price",{}, { class: "link-dark" }) %>
  </div>
  <div class="col">
    <%= form_tag false, method: :get do %>
    <span>Products per page:
      <%= select_tag :per_page, options_for_select([5, 10, 20, 30], selected: params[:per_page] || 30), :class=>"select_box", :onchange => "this.form.submit()" %>
    </span>
    <% end %>
  </div>
</div>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
</div>

<% @products.each do |product| %>

  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2 text-center m-auto">
        <span>No images</span>
      </div>

      <div class="col-md-3">
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text">
            <small class="text-muted">
              <%= format_price(product.currency, product.default_price) %>
            </small>
            <small class="text-muted">
              | Quantity available: <%= product.quantity %>
            </small>
          </p>
        </div>
      </div>

      <div class="col-md-2 text-center m-auto">
        <%= link_to product_path(product.id), class: "btn btn-primary mb-2", style: "width: 140px" do %>
          <span>Show details <i class="bi bi-search"></i></span>
        <% end  %>
        <%= button_to add_to_cart_product_path(product.id),
                      params: { product: { quantity: 1 } },
                      method: :post, class: "btn btn-warning mb-2", style: "width: 140px" do
        %>
          <span>Add to cart <i class="bi bi-cart-plus"></i></span>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<div class="apple_pagination">
  <%= will_paginate @products, :container => false %>
</div>